html,body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
    

}

.main{
         flex: 1;
         /*
         flex-shrink:1;
         flex-grew:1;
         flex-basis:0;
         
         
         */

         *{
            box-sizing: border-box;
         }

         

}